h3{
    margin: 30px 0;
}
.container-iha{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
    gap: 15px;
    width: 100%;
    height: 100%;
}  

.searchbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.searchbar .row{
    display: flex;
}

.searchbar .row input{
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 5px;
}
.searchbar .row button{
    padding: 8px 20px;;
}
.container-all{
    display: flex;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    padding: 10px;
}

.container-all img{

    width: 150px;
    height: 150px;
}


.container-all .specs{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.container-all .specs h1{
    color: #010c4c;
    font-size: 20px;
}
.container-all .specs h2{
    color: #220146;
    font-size: 18px;
}
.container-all .specs h6{
    color: #410000;
    font-size: 18px;
}
.container-all .specs h4{
    color: #00413f;
    font-size: 16px;
}
.container-all .specs h5{
    color: #0c4700;
    font-size: 16px;
}
.container-all .specs span{
    font-size: 12px;
}