<!DOCTYPE html>
{% load static %}<!--template için gerekli css, js dosyalarına bu fonksiyonla ulaşabilirsin-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    -->
    <link rel="stylesheet" href="{% static 'css/ihas.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>IHA Kirala</title>
</head>
<body>
    <!--Include fonksiyonu ile navbar'ı dahil et-->
    {% include "includes/navbar.html" %}

    <div class="container">

        {% if messages %} <!--Toast mesajları için ön yüzde kullanılacak fonksiyon.-->
            {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
            {% endfor %}
        {% endif %}

        {% block body %}
        <!--Bundan sonra inherit alınan her body bloğu kendi sayfasına göre tasarlanır.-->
        {% endblock body %}

    </div>
    <!--
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>

    -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>